html,
body {
  font-family: "Poppins", sans-serif;
  width: 100% !important;
  max-width: 100%;
}

nav {
  background: #3b3b3b;
  color: #ffffff;
  height: 100%;
  max-height: 100px;
  width: 100% !important;
}
.nav-content {
  width: 100%;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  width: 80%;
}

.slogan li.title {
  color: #ffffff;
  font-size: 28px;
  width: 20%;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: 28px;
  left: 2%;
}

div.nav-links ul {
  top: 28px;
  position: relative;
  right: 2%;
}

div.nav-links ul a {
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
ul li {
  display: inline !important;
}
#changeText {
  background: #fff600;
  color: #3b3b3b;
  text-align: center;
  margin: auto;
  max-height: 40px;
  height: 100%;
  text-align-last: auto;
  padding: 5px;
  font-size: 20px;
  opacity: 0.9;
}

.disabled {
  display: none;
}

/* top content */
.content {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.container img {
  border-radius: 30px;
  width: 100%;
  padding: 20px;
}
.keyboard {
  border-radius: 10px;
  width: 100%;
}
.container-1 {
  padding: 0 !important;
}

.top-content-p {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  line-height: 35px;
  font-size: 20px;
}
/*  content 2 */
.heading h2 {
  text-align: center !important;
  font-size: 35px;
  color: #3b3b3b;
  padding: 0 !important;
  position: relative;
  left: 3%;
  top: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.fa-html5 {
  font-size: 50px;
}
.usp-div {
  height: 50px;
  animation: pulse 6s infinite;
  width: 100%;
}

.container-2 {
  text-align: center;
  margin-top: 20%;
}
.content-2 {
  background: #cecfd4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
  font-size: 20px;
}
.content-2 h2 {
  padding: 20px;
}
/*  content 3 */
.content-3 {
  background: #e8ebfc;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
}
.content-3 h2 {
  padding: 30px;
  font-size: 34px;
}
/* content 4 */
.content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* icons */
.fa-html5 {
  color: red;
  margin: 0 40px;
  font-size: 70px;
}
.fa-css3-alt {
  font-size: 70px;
  color: blue;
  margin: 0 40px;
}
.fa-js-square {
  font-size: 70px;
  color: #fff600;
  margin: 0 40px;
}
.icons {
  /* padding-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.icons-span {
  display: block !important;
}
.icons-div {
  text-align: center;
  width: 100%;
}

.icon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons-p {
  width: 100%;
  max-width: 650px;
}
/* footer */
footer {
  background: #3b3b3b;
  color: #ffffff;
  height: 100%;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 70px;
}
.copyright {
  text-align: left;
  left: 10px;
}
.footer-ul {
  margin-top: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer-ul li {
  padding: 5px;
  color: #3b3b3b;
  background: #cecfd4;
  border-radius: 20px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 30px;
}
.fa-user-friends {
  font-size: 50px;
  color: #9ebaf7;
}
.fa-ticket-alt {
  font-size: 50px;
  color: #9ebaf7;
}
.fa-trophy {
  font-size: 50px;
  color: #9ebaf7;
}
.support {
  padding: 20px;
  width: 100%;
  background: #cecfd4;
  margin: 0 5px;
  border-radius: 10px;
}
.together {
  padding: 20px;
  width: 100%;
  background: #cecfd4;
  margin: 0 5px;
  border-radius: 10px;
}
.achieve {
  padding: 20px;
  width: 100%;
  background: #cecfd4;
  margin: 0 5px;
  border-radius: 10px;
}

/*  slider */
.mySlides {
  display: none;
}
.img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #a4a5a0;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  position: relative;
  /* left: 488px; */
  border-radius: 10px;
}
.img-slider img {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  width: 100%;
}
.button1 {
  padding: 10px;
  position: relative;
  right: 185px;
}
.button2 {
  padding: 10px;
  position: relative;
  left: 185px;
  bottom: 35px;
}

/* blobs */
.the-blobs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin-top: 10%;
}
.blob {
  background: black;
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/* pulsing text */
.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.75;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.1;
  }
  100% {
    opacity: 0.5;
  }
}
@media only screen and (max-width: 850px) {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  #changeText {
    font-size: 15px;
  }

  .slogan li.title {
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 2%;
  }
  .heading h2 {
    text-align: center;
    position: relative;
    left: 3%;
    top: 40px;
  }
  .icons {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .content-2 {
    margin-top: 20px;
    padding: 20px;
  }
  .top-content-p {
    margin-bottom: 90px;
  }
  .services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
